<div class="footer">
  <a href="https://github.com/kqlski/kalski-web" target="_blank" rel="noopener noreferrer">Source</a>
</div>

<style>
  .footer {
    color: gray;
    bottom: 0.2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

  a {
    text-decoration: underline;
    color: gray;
  }
</style>