---
const age = new Date().getFullYear() - 2000;
---

<div class="card slide-in-bottom">
  <h2>Kalle Ahlström</h2>
  <p>
  - {age} year-old Computer Science student from Espoo, Finland.
  </p>
  <p>
    - Interested in both bleeding edge and industry standards, leaning towards backend over frontend.
  </p>
</div>

<style>
  .card {
    border-radius: 0.5rem;
    text-decoration: none;
    line-height: 1.4;
    padding: 1em 1.3em;
    color: var(--text-color);
    background-color: #fbeecb;
    border: 0.15rem solid var(--color-border);
    opacity: 0.8;
  }


  h2 {
    margin: 0;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  p {
    margin-top: 0.75rem;
    margin-bottom: 0;
  }
</style>